* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.container {
    height: 100vh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 60%;
    padding: 136px;
    margin-top: 15%;
}

.container-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 25%;
    right: 130px;
}

h1 {
    width: 368px;
    color: #5D5D7D;
    font-size: 70px;
    line-height: 80px;
}

p {
    width: 540px;
    color: #5D5D7D;
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    width: 269px;
    height: 62px;
    background: #9499EA;
    box-shadow: 0 10px 24px;
    color: rgba(148, 153, 234, 0.10);
    border: none;
    border-radius: 30px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .5;
}

a {
    color: #5D5D7D;
    font-size: 28px;
    line-height: 41px;
    margin-right: 41px;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: 0.4;
}

a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

header {
    margin: 24px 0 0 57px;
}

@media screen and (max-width: 1320px) {
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
    }

    img {
        position: static;
        max-width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 57px;
        width: auto;
        margin: 50px 50px 0 50px;
        text-align: center;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        width: auto;
        margin: 15px 40px;
        text-align: center;
    }

    button {
        display: block;
        margin: 0 auto;
    }
}